// استخدام ملف الاستيرادات المركزي
// يستخدم هذا النهج أسلوب @use بدلاً من @import (القديم) لمنع تحذيرات angular-sass
@use './_theme-imports';

.type-badge {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: 500;
    display: inline-block;
    text-align: center;
}

.balance-badge {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: 500;
    display: inline-block;
}

.general-badge {
    background-color: #e3f2fd;
    color: #1976d2;
}

.payroll-badge {
    background-color: #fff8e1;
    color: #ff8f00;
}



.balanced {
    background-color: #e8f5e9;
    color: #2e7d32;
}

.unbalanced {
    background-color: #ffebee;
    color: #c62828;
}



.table {
    width: 100% !important;

}



.fixed-table {
    width: 90% !important;
    table-layout: fixed !important;
    margin: 0 auto !important;


}