<div *ngIf="data">
    <div class="header-actions">
        <h2 class="page-title">استمارات اليومية</h2>
        <div class="actions-bar">
            <button mat-raised-button color="primary" (click)="openSearchDialog()" class="action-button"
                aria-label="بحث">
                <mat-icon>search</mat-icon>
                <span>بحث</span>
                <span class="search-badge" *ngIf="hasActiveSearch">●</span>
            </button>

            <button mat-raised-button color="accent" (click)="onPrint()" class="action-button" aria-label="طباعة">
                <mat-icon>print</mat-icon>
                <span>تقرير</span>
            </button>

            <button mat-raised-button color="success" (click)="openAddSubsidaryDailyDialog(null)" class="action-button"
                aria-label="إضافة استمارة جديدة">
                <mat-icon>add</mat-icon>
                <span>إضافة</span>
            </button>
        </div>
    </div>
    <div *ngIf="data" class="table-container">


        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 fixed-table" color="primary">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                    <!-- <button mat-icon-button (click)="openAddSubsidaryDailyDialog(null)" style="color: #fff;">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button (click)="openSearchDialog()" style="color: #fff;">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button mat-icon-button (click)="addDaily(element)" style="color: #fff;">
                        <mat-icon>print</mat-icon>
                    </button>
                     New button to download template 
                    <button mat-icon-button (click)="downloadTemplate()" style="color: #fff;"
                        matTooltip="Download Excel Template">
                        <mat-icon>download</mat-icon>
                    </button> -->
                </th>
                <td mat-cell *matCellDef="let element">
                    <!-- <button mat-icon-button [routerLink]="['./',element.id]">
                        <mat-icon>visibility</mat-icon>
                    </button> -->

                    <button mat-icon-button (click)="openAddSubsidaryDailyDialog(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteSubsidary(element)" class="mat-icon-danger">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>


            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> الكود </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="num224">
                <th mat-header-cell *matHeaderCellDef> رقم 224 </th>
                <td mat-cell *matCellDef="let element"> {{element.num224}} </td>
            </ng-container>


            <ng-container matColumnDef="num55">
                <th mat-header-cell *matHeaderCellDef> رقم 55 </th>
                <td mat-cell *matCellDef="let element"> {{element.num55}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="formName">
                <th mat-header-cell *matHeaderCellDef> اسم الاستمارة</th>
                <td mat-cell *matCellDef="let element"> {{element.formName}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="collageName">
                <th mat-header-cell *matHeaderCellDef> الكليه </th>
                <td mat-cell *matCellDef="let element"> {{element.collageName}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="fundName">
                <th mat-header-cell *matHeaderCellDef> الصندوق </th>
                <td mat-cell *matCellDef="let element"> {{element.fundName}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="totalDebit">
                <th mat-header-cell *matHeaderCellDef> أجمالى مدين يوميه </th>
                <td mat-cell *matCellDef="let element"> {{element.totalDebit}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="totalCredit">
                <th mat-header-cell *matHeaderCellDef> أجمالى دائن يوميه </th>
                <td mat-cell *matCellDef="let element"> {{element.totalCredit}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="SubsidaryTotalDebit">
                <th mat-header-cell *matHeaderCellDef> أجمالى مدين </th>
                <td mat-cell *matCellDef="let element"> {{element.subsidaryTotalDebit}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="SubsidaryTotalCredit">
                <th mat-header-cell *matHeaderCellDef> أجمالى دائن </th>
                <td mat-cell *matCellDef="let element"> {{element.subsidaryTotalCredit}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="isBalanced">
                <th mat-header-cell *matHeaderCellDef> التوازن </th>
                <td mat-cell *matCellDef="let element" class="balance-column">
                    <span class="balance-badge" [ngClass]="element.isBalanced ? 'balanced' : 'unbalanced'">
                        {{element.isBalanced ? 'متوازن' : 'غير متزن'}}
                    </span>
                </td>
            </ng-container>

            <!-- Symbol Column -->


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [style.background]="row.totalDebit === row.totalCredit ? '#fff' : red "></tr>
            <tr class="mat-row" *matNoDataRow>
                <td style="width: 100%;text-align: center; padding: 20px;" class="mat-cell" colspan="11">لا يوجد بيانات
                    للعرض</td>
            </tr>
        </table>
        <mat-paginator [length]="paginator.length" [pageSize]="paginator.pageSize"
            [pageSizeOptions]="paginator.pageSizeOptions" showFirstLastButtons showFirstLastButtons
            aria-label="Select page" aria-label="Select page" (page)="handlePageEvent($event)" class="fixed-table">
        </mat-paginator>
    </div>