.mat-column-num55,
.mat-column-num224 {
    width: 7% !important;
}

.mat-column-formName {
    width: 15% !important;
    text-align: center;
}

.mat-column-action {
    width: 15% !important;
    text-align: center;
}