<mat-toolbar class="top-navbar" color="accent">
    <button mat-icon-button (click)="toggleSidenavEmitter()" class="menu-btn">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="authService.isLoggedIn()">
        <mat-icon>person</mat-icon>
        {{ authService.getCurrentUser()?.username || 'المستخدم' }}
    </button>

    <a mat-button *ngIf="!authService.isLoggedIn()" [routerLink]="['auth/login']" style="color: #fff;">
        تسجيل الدخول
        <mat-icon>login</mat-icon>
    </a>

    <mat-slide-toggle [checked]="isDarkMode" (change)="toggleTheme()">Dark Mode</mat-slide-toggle>

    <div>
        <!-- باقي الكونتنت بتاعك هنا -->
    </div>

    <span class="spacer"></span>


    <h1 style="font-weight: bold; font-size: 24px;">لوحة التحكم - المجمع الطبي</h1>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">تسجيل الخروج</button>
    </mat-menu>
</mat-toolbar>