$orange : #d27c00;
$dark-orange: #1a120a;
$gray :#7895a3;
$dark-gray: #223f4c;
$black :#1b1b1b;
// $light-gray: rgba(34, 63, 76, .4);



//Light Theme Color
$snow-white: #FAFAFA;
$light-gray: #d8dbdd;
$charcoal-gray: #334155;
$blue-gray: #607D8B;
$soft-orange: #FF9800;
$soft-red : #EF5350;
$soft-green : #66BB6A;


$night-blue: #1E293B;
$dark-slate: #334155;
$cool-gray: #E2E8F0;
$calm-cyan : #67E8F9;
$pastel-orange: #FB923C;
$pastel-red: #FB7185;
$pastel-green: #4ADE80;

$dark-red: #4b1313;
$dark-orange: #ab5c23;

// Neutral Variants

/*

الغرض	اللون	Hex Code
خلفية الموقع	أبيض ثلجي (Snow White)	#FAFAFA
الكروت والأسطح	رمادي فاتح (Light Gray)	#F1F5F9
لون النصوص	رمادي داكن (Charcoal Gray)	#334155
العناوين	أزرق رمادي (Blue Gray)	#607D8B
الأزرار	برتقالي ناعم (Soft Orange)	#FF9800
التحذيرات	أحمر هادئ (Soft Red)	#EF5350
النجاح	أخضر ناعم (Soft Green)	#66BB6A
🌙 Dark Mode:
الغرض	اللون	Hex Code
خلفية الموقع	أزرق ليلي داكن (Night Blue)	#1E293B
الكروت والأسطح	رمادي داكن (Dark Slate)	#334155
لون النصوص	رمادي فاتح (Cool Gray)	#E2E8F0
العناوين	سماوي هادئ (Calm Cyan)	#67E8F9
الأزرار	برتقالي باستيل (Pastel Orange)	#FB923C
التحذيرات	أحمر باستيل (Pastel Red)	#FB7185
النجاح	أخضر باستيل (Pastel Green)	#4ADE80



*/